
<!-- account page (only for ronsh vips) -->

<!-- navbar -->
<ul class="sidenav">
  <li class="entry">
    <a href="javascript:gotoPage('login')">Login</a>
  </li>
  <li class="entry">
    <a href="javascript:gotoPage('accountDetails')">Account</a>
  </li>
  <li class="entry">
      <a href="javascript:gotoPage('addProducts')">Produkte hinzufügen</a>
    </li>
</ul>

<!-- element showed until checked login -->
<div id="loadscreen">
  <span class="content">Laden...</span>
</div>

<!-- all windows/pages -->
<div class="windows" id="account-window">

  <!-- login page -->
  <div class="window window-login">
    <span class="window-header">
      Anmelden
    </span>
    <div class="window-content">
      <div class="form">
        <span>Benutzername: </span><input type="text"     placeholder="" class="username" /><br />
        <span>Passwort:     </span><input type="password" placeholder="" class="password" /><br />
        <button class="submit">Anmelden</button>
      </div>
    </div>
  </div>

  <!-- Account Overview -->
  <div class="window window-account_details">
    <span class="window-header">
      Dein Account
    </span>
    <div class="window-content">
      Benutzername: <span class="information information-username"></span>
    </div>
  </div>

  <!-- Page to add products -->
  <div class="window window-add_products">
      <span class="window-header">
        Füge Produkte hinzu
      </span>
      <div class="window-content">
        <!-- input -->
        <div>
          Markt: <select class="select-market"></select>
        </div>
        <div>
          Standort: <select class="select-branch"></select>
        </div>
        <div class="form">
          <span>Name: </span><input type="text" class="name" /><br />
          <span>Beschreibung: </span><textarea class="description"></textarea><br />
          <span>Preis: </span><input type="number" min="1" class="price" /> cent<br />
          <span>Bild: </span><input type="file" accept=".jpeg" class="image-selector" /><br />
          <button class="submit">Erstellen</button>
        </div>
      </div>
    </div>

</div>
