<!-- search page -->

<!-- element for all search things -->
<div id="searchArea" focus="{{search_query ? 'true' : 'false'}}">
  <!-- ronsh logo -->
  <img alt="" src="/include/assets/logo_ronsh.png" id="headerLogo" />
  <!-- form for searching without javascript -->
  <form id="formSearch" method="get" action=".?">
      <!-- input for typing in the search query -->
      <input
        id="searchbar"
        type="text"
        value="{{search_query}}"
        placeholder="Suchen..."
        name="q"
        autocomplete="off"/>
  </form>

  <!-- all searchentries -->
  <div class="entries" id="searchEntries">
  {% if entries %}
  {% for entry in entries %}
    {% include ('html/templates/pages/search_entry.html') with {'entry':entry} %}
  {% endfor %}
  {% elseif search_query %}
  <p>
    Keine Suchergebnisse gefunden...
  </p>
  {% endif %}
  </div>

</div>
