
<div id="container">
  <div id="sector1">
    <div class="right">
      <div class="image" style="background-image: url('/database/productImages/{{product.image}}.jpg');"></div>
    </div>
    <div class="left">
      <div class="name">{{product.name}}</div>
      <div class="description">{{product.description}}</div>
      <div class="price">{{product.priceInEuro}}</div>
    </div>
  </div>
  
  <div id="sector2">
    <div class="entry market">
      <img src="/include/assets/icons/market.svg" alt="" />
      <span>
        {{product.market.name}}
      </spans>
    </div>
    
    <div class="entry location">
      <img src="/include/assets/icons/location.svg" alt="" />
      <span>
        {{product.branch.address_place}}, {{product.branch.address_street}} {{product.branch.address_house_number}}
      </spans>
    </div>
  </div>
</div>


