<!-- entry of a search -->

<!-- link to access product-info (product_view) -->
<a href="/products/?product={{entry.id}}">
  <div class="entry">
    <div class="image" style="background-image: url('/database/productImages/{{entry.image}}.jpg')"></div>
    <div class="descriptor">{{entry.name}}</div>
    <div class="price">{{entry.priceInEuro}}</div>
  </div>
</a>
