
#loadscreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

#loadscreen > .content {
  position: relative;
  left: 45vw;
  top: 45vh;
  font-size: 30px;
}


#account-window {
  display: none;
}

.window {
  display: none;
  position: absolute;
  left: 20%;
  top: 10%;
  width: 60%;
  height: 80%;
  background-color: white;
  opacity: 0.8;
}

.window > .window-header {
  display: inline;
  background-color: gray;
  padding: 5px 20px;
  width: 100%;
}

.window > .window-content {
  padding: 10px 20px;
}

.window.window-focus {
  display: initial;
}
