body {
  width: 100vw;
  font-family: sans-serif;

  background-color: #2980b9;
  background-image: url("/include/assets/background/steinfurt.jpeg");
  background-attachment: fixed;
}


/* noscript */
.noscript {
  display: none;
}

body[js='false'] .noscript {
  display: none;
}


input {
  outline: 0;
}

p {
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: #2980b9;
}

/* container */
#page-container {
  position: absolute;
  left: 50%;
  top: 4%;
  width: 60%;
  min-height: 100vh;
  padding: 50px;
  padding-bottom: 57px;
  background-color: #ffffff;
  border-top: 15px solid #1c7c1c;
  transform: translateX(-50%);
}

@media screen and (max-width: 550px) {
  #page-container {
    left: 0;
    top: 0;
    right: 0;
    width: auto;
    padding: 30px;
    padding-bottom: 57px;
    transform: none;
  }
}

/* footer */
#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px 0;
  width: 100%;
  background-color: #dddddd;
  margin-top: 50px;
}

#navigation {
  display: inline
}

#navigation > li {
  float: left;
  margin: 0 30px;
}

#navigation > li.legally {
  float: right;
}

#navigation > li > a {
  color: #7f8c8d;
}

#navigation > li:hover > a {
  color: #2c3e50;
}


.tab {
  position: relative;
  margin-left: 10%;
  margin-top: 5%;
  width: 80%;
  background-color: #95a5a6;
  box-shadow: 2px 2px 40px #34495e;
}

.tab > .title {
  background-color: #7f8c8d;
  padding: 10px;
  font-size: 1.4em;
  font-weight: bold;
}

.tab .content {
  position: relative;
}

/* back button */
#back {
  background-color: #95a5a6;
  border: none;
  box-shadow: 2px 2px 40px #34495e;
  padding: 15px;
  float: right;
  margin-right: 10vw;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

/* sidenav y*/
.sidenav {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #ecf0f1;
  padding: 5px;
  opacity: 1;
}

.sidenav .entry {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
}

.sidenav .entry a {
  color: inherit;
}

/* notifier */
#notificationContainer {
  position: absolute;
  top: 10px;
  right: 10px;
}

#notificationContainer > .entry {
  border: 1px solid black;
  width: 100px;
  margin: 10px;
  padding: 5px;
}

#notificationContainer > .entry.kind-success {
  background-color: #00C851;
}

#notificationContainer > .entry.kind-info {
  background-color: #33b5e5;
}

#notificationContainer > .entry.kind-warning {
  background-color: #ffbb33;
}

#notificationContainer > .entry.kind-error {
  background-color: #ff4444;
}

#notificationContainer > .entry.kind-progressbar {
  background-color: #f3e5f5;
}

/* progressbar */
.progressbar {
  position: relative;
  width: 0%;
  height: 20px;
  background-color: #2BBBAD;
}

.progressbar::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}