
/* 
 * ######################################################
 * ## Search
 * ######################################################
*/
#searchArea {
  position: relative;
  left: 0;
  top: 0;
  text-align: center;
  transition: all 500ms;
  width: 100%;
}

#searchArea[focus='true'] {
  transition: 500ms;
  top: -10vh;
}

#formSearch>input {
  height: 30px;
  min-height: 15px;
  border-radius: 2px;
  padding: 10px;
}

#searchbar {
  position: relative;
  left: 0;
  width: 100%;
  border: none;
  box-shadow: 0 0 10px #aaaaaa;
}

#searchbarSubmitButton {
  position: relative;
  left: -5%;
  top: -6px;
  padding: 10px;
  margin-top: 0px;
  background: none;
  border: none;
  border-radius: 2px;
  padding: 1.5% 2.5%;
  cursor: pointer;
}

#searchbarSubmitButton > img {
  position: absolute;
  left: 20%;
  top: 15%;
  width: auto;
  height: 30px;
}

#formSearch > input.location_setter {
  margin-top: 1%;
  border: 1px solid #95a5a6;
}



#selectorCategory {
  position: absolute;
  text-align: right;
  right: 1vw;
  appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  height: 50.3px;
  box-shadow: 2px 2px 10px #bdc3c7;
  outline: none;
  cursor: pointer;
}

#statusLoading {
  display: none;
  position: absolute;
  left: 5vw;
  text-align: left;
  float: left;
}

#statusLoading[focus="true"] {
  display: inline;
}

#headerLogo {
  margin: 10vh auto;
  height: 25vh;
  display: block;
  opacity: 1;
  transition: 500ms;
}

#searchArea[focus="true"] #headerLogo {
  opacity: 0;
  overflow: hidden;
  height: 0;
}

/* 
 * ######################################################
 * ## Search Entries                                   ##
 * ######################################################
*/
#searchArea .entries {
  padding-top: 10px;
  margin-top: 10px;
  text-align: center;
  position: relative;
  width: 100%;
}

#searchArea .entries .entry {
  position: relative;
  width: 15vw;
  height: calc(15vw + 20px);
  min-width: 200px;
  min-height: 200px;
  background-color: #ffffff;
  /*margin: 50px 50px 0 0;*/
  margin: 25px;
  float: left;
  text-align: center;
  box-shadow: 0 0 10px #bbbbbb;
  z-index: 2;
}

#searchArea .entries .entry > .image {
  display: inherit;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: gray;
}

#searchArea .entries .entry > .descriptor {
  display: inherit;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #ffffff;
  color: black;
  padding: 10px 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#searchArea .entries .entry > .price {
  display: inherit;
  position: absolute;
  top: 5%;
  left: -10%;
  padding: 5px;
  background-color: #34a834;
  color: black;
}

#searchArea .entries .entry > .price::after {
  content: '';
  display: inherit;
  position: absolute;
  left: 0;
  top: 100%;
  border: 1px solid transparent;
  border-width: 20px;
  border-top-color: #237423;
  color: black;
  z-index: -1;
}