
#container {
  position: relative;
  margin: 10%;
  width: 80%;
}

#sector1 {
  position: relative;
  min-height: 22vw;
  padding-bottom: 30px;
  border-bottom: 2px solid #cccccc;
}

#sector1 > .left {
  position: relative;
  left: 0;
  top: 0;
  width: 45%;
  height: 100%;
}

#sector1 > .left > .name {
  position: relative;
  font-size: 1.4em;
  margin-bottom: 10px;
}

#sector1 > .left > .price {
  position: relative;
  font-size: 1.2em;
  font-weight: bold;
  color: #777777;
  float: right;
}

#sector1 > .right {
  position: absolute;
  top: 0;
  right: 0;
}

#sector1 > .right > .image {
  width: 22vw;
  height: 22vw;
  background-size: 100% 100%;
}


#sector2 {
  position: relative;
  margin-top: 30px;
}

#sector2 > .entry {
  position: relative;
  margin-bottom: 10px;
}

#sector2 > .entry > span {
  margin-left: 5px;
}


/* for smaller screens */
@media screen and (max-width: 700px) {
  #sector1 {
    border: none;
    margin-bottom: 20px;
    height: auto;
  }
  #sector1 > .left {
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #sector1 > .right {
    position: relative;
    left: 0;
    width: 100%;
  }
  #sector1 > .left > .price {
    position: relative;
    top: 10px;
  }
  #sector1 > .right > .image {
    width: 100%;
    padding-top: 100%;
    height: auto;
  }

  #sector2 {
    position: relative;
  }
}