<!Doctype HTML>

<html>

  <head>
    <title>{% if title %}{{title}}{% elseif page %}{{page}}{% endif %} - ronsh</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/include/style/basic.css" rel="stylesheet" />
    {% if page %}
    <link href="/include/style/{{page}}.css" rel="stylesheet" id="pagestyle"/>
    {% endif %}
  </head>

  <body js="false" page="{{page}}">
    <!-- contains the page currently requesting -->
    <div id="page-container">
      {% if page %}
      {% include('html/templates/pages/'~page~'.html') %}
      {% else %}
      <p>
        Seiteninhalt konnte nicht geladen werden.
      </p>
      {% endif %}

      <!-- for the javascript NotifierService -->
      <div id="notificationContainer"></div>

      <div id="footer">
        <!-- importing all javascripts -->
        <script src="/include/javascript/controller.js"></script>
        <script src="/include/javascript/services/ServiceLocator.js"></script>
        <script src="/include/javascript/services/NotifierService.js"></script>
        <script src="/include/javascript/services/RequestService.js"></script>
        <script src="/include/javascript/services/ElementService.js"></script>
        <script src="/include/javascript/services/InputService.js"></script>
        <script src="/include/javascript/services/TemplateService.js"></script>
        <script src="/include/javascript/services/SearchService.js"></script>
        <script src="/include/javascript/services/AccountService.js"></script>
        <script src="/include/javascript/services/ProductService.js"></script>
        <script src="/include/javascript/PageController/PageController.js"></script>
        <script src="/include/javascript/PageController/pageSearch.js"></script>
        <script src="/include/javascript/PageController/pageAccount.js"></script>
        <!-- navigation -->
        <ul id="navigation">
          <!--pagenav-->
          <li><a href="/search">Suche</a></li>
          <!--legally-->
          <li class="legally"><a href="impressum">Impressum</a></li>
          <li class="legally"><a href="datenschutz">Datenschutz</a></li>
        </ul>
      </div>
    </div>

  </body>

</html>
