<!Doctype HTML>

<html>

  <head>
    <title>Fehler: {{statusCode}}</title>
    <meta charset="utf-8" />
    <link href="/include/style/error.css" rel="stylesheet" />
  </head>

  <body>
    Fehler {{statusCode}}: {{message}}
  </body>


</html>
